<nav class='navbar navbar-default reports-left-nav' role='navigation' style='border-top-right-radius:0px;border-top-left-radius:0px'>
  <ul class='nav navbar-nav side-nav full-width no-margin'>
    <li class='full-width'>
			<%= link_to "<i class='fa fa-dashboard'></i>&nbsp;Dashboard".html_safe, root_path %>
    </li>
    <li class='full-width'>
			<%= link_to "<i class='fa fa-signal'></i>&nbsp;Glucose Levels".html_safe, glucose_levels_path %>
    </li>
    <li class='full-width'>
			<%= link_to "<i class='fa fa-line-chart'></i>&nbsp;Reports".html_safe, reports_path %>
    </li>
  </ul>
</nav>